
parameters:

    mediaTypes:
        image: Image
        video: Video
        audio: Audio
        document: Document
        file: Arbitrary file

    # Relative to www root
    fileUploadPath: uploads


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\TagManager
	- App\Model\CategoryManager
	- App\Model\AuthorManager
	- App\Model\ArticleManager
	- App\Model\MediaManager(@Nette\Database\Connection, %mediaTypes%, %fileUploadPath%)

	authenticator: App\Model\Authenticator
	authorizator: App\Model\Authorizator
	router: App\RouterFactory::createRouter

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
